[primary-data]
type     : 3
n_dims   : 0

[primary]
# required
SIMPLE   : required, value=1, type=boolean
BITPIX   : required, value=16, type=int
NAXIS    : required, value=0, type=int
EXTEND   : required, value=1, type=boolean

# don't need these?
BZERO    : required, value=32768, type=int
BSCALE   : required, value=1.0, type=float

# provenance
OBSERVER : required, values=(MLSO|Berkey), type=str
DATE-OBS : required, type=str

ORIGIN   : required, value=NCAR/HAO, type=str
INSTRUME : required, values=(UCoMP|CAM LINEARTY TEST STAND), type=str
TELESCOP : required, values=(20 cm One Shot|None), type=str
LOCATION : required, values=(MLSO|BOULDER), type=str
OBJECT   : required, values=(SUN|Sun|Lamp), type=str

# type of file
LEVEL    : required, value=L0, type=str
FILTER   : required, type=str

EXPTIME  : required, type=float

GAIN     : required, type=str

TCAMNUC  : required, type=str
RCAMNUC  : required, type=str
FLCVNEG  : required, type=float
FLCVPOS  : required, type=float
POLHOFF  : required, type=float
REDHOFF  : required, type=float
SAVEALL  : required, type=boolean
T_COMPS  : required, type=boolean
WAVOFF   : required, type=float
LCVRELX  : required, type=float

# optical elements
O1ND     : required, type=str
O1ID     : required, type=str
O1FOCUSE : required, type=float
OCCLTRID : required, type=str
OCCLTR-X : required, type=int
OCCLTR-Y : required, type=int
DIFFSRID : required, type=str
DARKID   : required, type=str

# camera info
TCAMID   : required, type=str
RCAMID   : required, type=str
TCAMLUT  : required, type=str
RCAMLUT  : required, type=str
T_C0ARR  : required, type=float
T_C1ARR  : required, type=float
T_C0PCB  : required, type=float
T_C1PCB  : required, type=float
T_RACK   : required, type=float
T_LCVR1  : required, type=float
T_LCVR2  : required, type=float
T_LCVR3  : required, type=float
T_LNB1   : required, type=float
T_MOD    : required, type=float
T_LNB2   : required, type=float
T_LCVR4  : required, type=float
T_LCVR5  : required, type=float
T_BASE   : required, type=float
TU_RACK  : required, type=float
TU_LCVR1 : required, type=float
TU_LCVR2 : required, type=float
TU_LCVR3 : required, type=float
TU_LNB1  : required, type=float
TU_MOD   : required, type=float
TU_LNB2  : required, type=float
TU_LCVR4 : required, type=float
TU_LCVR5 : required, type=float
TU_BASE  : required, type=float

# software and observing plan
OBSSWID  : required, type=str
OBS_ID   : required, type=str
OBS_IDAU : required, type=str
OBS_IDDA : required, type=str
OBS_IDVE : required, type=str
OBS_PLAN : required, type=str
OBS_PLAU : required, type=str
OBS_PLDA : required, type=str
OBS_PLVE : required, type=str
OBS_DESC : required, type=str


[extension-data]
type     : 12
n_dims   : 4
dim0     : 1280
dim1     : 1024
dim2     : 4
dim3     : 2

[extension]
# required
XTENSION : required, value=IMAGE, type=str
BITPIX   : required, value=16, type=int
NAXIS    : required, value=4, type=int
NAXIS1   : required, value=1280, type=int
NAXIS2   : required, value=1024, type=int
NAXIS3   : required, value=4, type=int
NAXIS4   : required, value=2, type=int

BZERO    : required, value=32768, type=int
BSCALE   : required, value=1.0, type=float

PCOUNT   : required, value=0, type=int
GCOUNT   : required, value=1, type=int
O1FOCUS  : required, type=float
DATATYPE : required, values=(sci|cal|dark|flat), type=str
EXTNAME  : required, type=str

OBJECT   : required, values=(SUN|Sun|Lamp), type=str

DATE-BEG : required, type=str
DATE-END : required, type=str

WAVELNG  : required, type=float
ONBAND   : required, type=str
CONTIN   : required, type=str
EXPTIME  : required, type=float
FRAMERT  : required, type=float
NUMSUM   : required, type=float
SEQNUM   : required, type=float
O1ND     : required, values=(in|out|mid), type=str
O1FOCUS  : required, type=float

# calibration parameters
OCCLTR   : required, values=(in|out|mid), type=str
COVER    : required, values=(in|out|mid), type=str
DIFFUSR   : required, values=(in|out|mid), type=str
CALOPTIC : required, values=(in|out|mid), type=str
DARKSHUT : required, values=(in|out|mid), type=str
POLANGLE : required, type=float
RETANGLE : required, type=float

# LCVR status
V_LCVR1  : required, type=float
V_LCVR2  : required, type=float
V_LCVR3  : required, type=float
V_LCVR4  : required, type=float
V_LCVR5  : required, type=float
T_LCVR1  : required, type=float
T_LCVR2  : required, type=float
T_LCVR3  : required, type=float
T_LCVR4  : required, type=float
T_LCVR5  : required, type=float
TU_LCVR1  : required, type=float
TU_LCVR2  : required, type=float
TU_LCVR3  : required, type=float
TU_LCVR4  : required, type=float
TU_LCVR5  : required, type=float

# other temperatures
T_AIR    : required, type=float
T_LN1    : required, type=float
T_LN2    : required, type=float
TU_AIR    : required, type=float
TU_LN1    : required, type=float
TU_LN2    : required, type=float
BODYTEMP : required, type=float
BASETEMP : required, type=float
RACKTEMP : required, type=float
OPTRTEMP : required, type=float

# SGS
SGSDIMV  : required, type=float
SGSDIMS  : required, type=float
SGSSUMV  : required, type=float
SGSSUMS  : required, type=float
SGSRAV   : required, type=float
SGSRAS   : required, type=float
SGSDECV  : required, type=float
SGSDECS  : required, type=float
SGSSCINT : required, type=float
SGSRAZR  : required, type=float
SGSDECZR : required, type=float
SGSLOOP  : required, type=float
