# the CMake build
/build

# built documentation
/api-docs
/api-userdocs

# all config files
/config/ucomp.*.cfg
/config/ucompd.*.cfg

/docs/_build
/docs/exports
/docs/ucomp-product-guide.tex
/docs/ucomp-product-guide.aux
/docs/ucomp-product-guide.log
/docs/ucomp-product-guide.pdf

# temporary file used to find the SolarSoft dependencies
/ssw/ROUTINES
