# Mission start on 20210526

# Unlike the KCor pipeline epochs file, date/times are in UTC in this file.

[20210526]
raw_data_repair_routine      : [ucomp_data_lcvr3,ucomp_data_sgs_shift,ucomp_data_lcvrelx,ucomp_data_t2tu]
density_basename             : chianti_v11.0_pycelp_fe13_h239_d301_v1.0_inverted_ratio.nc

[20210726]
raw_data_repair_routine      : [ucomp_data_lcvr3,ucomp_data_lcvrelx,ucomp_data_t2tu]
# all conditions: '1111111111111111111111111111111'b
quality_mask                 : 2147483647


# OCCLTR-X and OCCLTR-Y FITS keywords not reliable before this
[20210728.060000]
use_occltr_position          : YES


# OCCLTR-X and OCCLTR-Y FITS keywords are stuck, use a fixed value
[20210927.185741]
use_occltr_position          : NO
occltr_x                     : 61.4
occltr_y                     : 13.35

[20210927.214008]
use_occltr_position          : YES


[20211019]
i0                           : 9.256


[20211109]
raw_data_repair_routine      : [ucomp_data_lcvrelx,ucomp_data_t2tu]


# The level 0 FITS file, 20211202.231941.33.ucomp.l0.fts, is malformed, without
# an END for the header.
[20211202.231941]
process                      : NO

[20211202.231942]
process                      : YES


# Another bad FITS file, 20211203.000104.58.ucomp.l0.fts.
[20211203.000104]
process                      : NO

[20211203.000105]
process                      : YES


# bad 1079 files that make it through GBU right now
[20220217.203601]
process                      : NO

[20220217.204106]
process                      : YES


# this is the beginning of the "Offset + gain corrected" mode
[20220223.195117]
quality_rcam_dark_range      : [41.0, 61.0]
quality_tcam_dark_range      : [40.0, 60.0]


# From issue #159: "the Cropico battery died, and all temps were misreported as
# being ~4C too low. This looks to get bad 20220523.212656.81.ucomp.789.l0.fts
# and remains bad for the rest of the day. We didn't collect UCoMP data again
# until the 30th, and the problem was resolved on the 25th.
[20220523.212656]
process                      : NO

[20220530]
process                      : YES


[20221115]
high_hot_pixel_basename      : ucomp_hot_high_20221125.sav


[20231117]
#raw_data_repair_routine      : [ucomp_data_default]


[20240330]
high_hot_pixel_basename      : ucomp_hot_high_20240409.sav

# remove distortion grid files
[20240330.190619]
process                      : NO

[20240330.191215]
process                      : YES

# bad 1074 nm files
[20240330.194110]
process                      : NO

[20240330.194111]
process                      : YES

[20240330.194549]
process                      : NO

[20240330.194550]
process                      : YES

[20240330.194912]
process                      : NO

[20240330.194913]
process                      : YES

[20240330.195404]
process                      : NO

[20240330.195405]
process                      : YES

[20240330.200614]
process                      : NO

[20240330.200615]
process                      : YES


# move one file to another cookbook
[20240330.201401]
raw_data_repair_routine      : [ucomp_data_lcvrelx,ucomp_data_t2tu,ucomp_data_synoptic]

[20240330.201402]
raw_data_repair_routine      : [ucomp_data_lcvrelx,ucomp_data_t2tu]


# skipping malformed level 0 file
[20240330.202229]
process                      : NO

[20240330.202230]
process                      : YES


# bad 706 nm file -- just a single file or are all 706 nm files bad now?
[20240330.211934]
process                      : NO

[20240330.211935]
process                      : YES


# more distortion grid files
[20240330.215758]
process                      : NO

[20240330.215759]
process                      : YES


# bad files
[20250324.180819]
process                      : NO

[20250324.192132]
process                      : YES
