# not sure how long these have been valid for
[20210708]
distortion_basename          : dist_coeff_20210708_1074.sav
demodulation_coeffs_basename : Dmx_Temp_Coefs.sav

# OCCLTR-X and OCCLTR-Y FITS keywords not reliable before this
[20210728]
use_occltr_position          : YES


[20210927.185741]
use_occltr_position          : NO
occltr_x                     : 61.4
occltr_y                     : 13.35

[20210927.214008]
use_occltr_position          : YES
