[options]
wave_types         : type=str, extract=YES, default=[530,637,692,706,789,1074,1079]

[530]
center_wavelength  : type=float, default=530.3
id                 : type=str, default=Fe XIV
color              : type=str, default=00ff00
nickname           : type=str, default=green line
distribute_l1      : type=boolean, default=YES
distribute_l2      : type=boolean, default=YES

[637]
center_wavelength  : type=float, default=637.4
id                 : type=str, default=Fe X
color              : type=str, default=0000ff
nickname           : type=str, default=red line
distribute_l1      : type=boolean, default=YES
distribute_l2      : type=boolean, default=YES

[656]
# not used?
center_wavelength  : type=float, default=656.3
id                 : type=str, default=H I
color              : type=str, default=a0a0a0
nickname           : type=str, default=
distribute_l1      : type=boolean, default=YES
distribute_l2      : type=boolean, default=YES

[692]
center_wavelength  : type=float, default=691.8
id                 : type=str, default=Ar XI
color              : type=str, default=ff0000
nickname           : type=str, default=
distribute_l1      : type=boolean, default=YES
distribute_l2      : type=boolean, default=YES

[706]
center_wavelength  : type=float, default=706.2
id                 : type=str, default=Fe XV
color              : type=str, default=ffa0a0
nickname           : type=str, default=
distribute_l1      : type=boolean, default=YES
distribute_l2      : type=boolean, default=YES

[789]
center_wavelength  : type=float, default=789.4
id                 : type=str, default=Fe XI
color              : type=str, default=ffc020
nickname           : type=str, default=
distribute_l1      : type=boolean, default=YES
distribute_l2      : type=boolean, default=YES

[1074]
center_wavelength  : type=float, default=1074.7
id                 : type=str, default=Fe XIII
color              : type=str, default=0080ff
nickname           : type=str, default=
distribute_l1      : type=boolean, default=YES
distribute_l2      : type=boolean, default=YES

[1079]
center_wavelength  : type=float, default=1079.8
id                 : type=str, default=Fe XIII
color              : type=str, default=00d0f0
nickname           : type=str, default=
distribute_l1      : type=boolean, default=YES
distribute_l2      : type=boolean, default=YES

[1083]
# not used?
center_wavelength  : type=float, default=1083.0
id                 : type=str, default=He I
color              : type=str, default=a0a0a0
nickname           : type=str, default=
distribute_l1      : type=boolean, default=YES
distribute_l2      : type=boolean, default=YES

[raw]
# One of either basedir or routing_file should be set. The routing_file is a
# config file with a "locations" section where each option has a name of a
# STRMATCH expression for dates and value of a basedir location. For example,
# like:
#
# [locations]
# 2017* : /some/location
# 2018* : /other/location
basedir            : type=str, default=
routing_file       : type=str, default=
distribute         : type=boolean, default=YES

[processing]
basedir            : type=str

[results]
archive_basedir    : type=str, default=
hpss_gateway       : type=str, default=

[externals]
gzip               : type=str

[realtime]

[eod]
reprocess          : type=boolean, default=NO

[logging]
dir                : type=str, default=
level              : type=str, default=DEBUG
max_version        : type=long, default=-1
max_width          : type=long, default=92

[engineering]
basedir            : type=str, default=
profile            : type=boolean, default=NO

[database]
update             : type=boolean, default=YES
config_filename    : type=str, default=
config_section     : type=str, default=

[notifications]
email              : type=str, default=
