# [TODO]: get real data

# Camera linearity correction depends on:
#
# - camera ID (`{R,T}CAMID` FITS keyword)
# - NUC (`{R,T}CAMNUC` values: "normal", "Offset + gain corrected"),
# - exposure time (`EXPTIME` keyword value: nearly always 80.0 ms, but could be
#   any float), and 
# - gain mode (`GAIN` FITS keyword value: "high" or "low")

[Raptor OWL1280 10006 - normal - 80.0 - high]
segment1 : -, linear 0.0 1.0
# segment1  : -1000, linear 0.0 1.0
# segment2  : 1001-3000, linear -250.0 1.25
# segment3  : 3001-, linear -1000.0 1.5

[Raptor OWL1280 10009 - normal - 80.0 - high]
segment1 : -, linear 0.0 1.0

[Raptor OWL1280 10055 - normal - 80.0 - high]
segment1 : -, linear 0.0 1.0
# segment1  : -1000, linear 0.0 1.0
# segment2  : 1001-, linear -500.0 1.5
