; docformat = 'rst'

function NAME_ut::test1
  compile_opt strictarr

  return, 1
end


function NAME_ut::init, _extra=e
  compile_opt strictarr

  if (~self->UCoMPutTestCase::init(_extra=e)) then return, 0

  self->addTestingRoutine, 'NAME', /is_function

  return, 1
end


pro NAME_ut__define
  compile_opt strictarr

  define = { NAME_ut, inherits UCoMPutTestCase }
end
